.login__container {
  height: 90vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container h1 {
  font-size: clamp(3rem, 8vh - 3rem, 5rem);
}

.login__container--box {
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__form--container {
  width: 75%;
  padding: 2rem;
  border-radius: 1.875rem;
  box-shadow: var(--box-shadow);
  background: white;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  position: relative;
}

.input__container input,
.login__form--container--box > * {
  margin-bottom: 2rem;
}

.input__container label {
  font-size: 1.5rem;
}

.login__form--container .main--btn {
  font-size: 2rem;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.secondary--action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.secondary--action > * {
  display: inline;
  font-size: 1.5rem;
}

.secondary--action .btn__underlined:hover {
  border-bottom: 2px solid var(--primary-color);
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: 5px;
}

.instructions .icon {
  margin-right: 1rem;
  font-size: 1.75rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.valid {
  color: limegreen;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}

@media (max-width: 400px) {
  .input__field {
    font-size: 1.25rem;
  }

  .login__form--container .main--btn {
    font-size: 1.5rem;
    width: 95%;
    margin-bottom: 1rem;
  }
}
