.social-links li {
  font-size: 150%;
  display: inline-block;
  margin-right: 2rem;
  list-style: none;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: var(--secondary-color);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.sociallinks__icon-github,
.sociallinks__icon-linkedin,
.sociallinks__icon-twitter,
.sociallinks__icon-mail {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.sociallinks__icon-github:hover {
  color: #000000;
}

.sociallinks__icon-twitter:hover {
  color: #00aced;
}

.sociallinks__icon-linkedin:hover {
  color: #517fa4;
}

.sociallinks__icon-mail:hover {
  color: rgb(245, 73, 73);
}
