.landing--page {
  height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: var(--primary-color)
    url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
    repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  -moz-animation: 10s linear 0s normal none infinite animate;
  -ms-animation: 10s linear 0s normal none infinite animate;
  -o-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

.hero-text--Container {
  padding: 20rem;
}

.hero-text {
  font-size: 5rem;
  color: whitesmoke;
  font-weight: 100;
}

.btn--hero {
  color: rgb(38, 94, 141);
  background-color: var(--gray--light-color);
  font-size: 2rem;
  padding: 0.3rem 0.5rem;
  margin: auto;
  margin-top: 2rem;
  font-weight: 700;
}

.hero-text--Container a {
  text-decoration: none;
}

.hero--img {
  width: 25%;
}
