.main--footer {
  padding: 2rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.footer__credits--container {
  display: flex;
  align-items: center;
}

.main--footer h3 {
  font-weight: 400;
  font-size: 3.5rem;
  margin: 0;
  color: var(--secondary-color);
}

.main--footer h3 a {
  color: var(--secondary-color);
}

.main--footer h3 a:hover {
  color: var(--primary-color);
}

.main--footer h4 a {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--secondary-color);
}

.main--footer h4 a:hover {
  color: var(--primary-color);
}

.footer__social-links--container {
  text-align: center;
}

.main--footer .nav__container--nav-list ul {
  font-size: 75%;
  padding: 1rem 0 0 2rem;
  margin: 0;
}

@media (max-width: 400px) {
  .main--footer h3 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    color: var(--secondary-color);
  }

  .main--footer h4 a {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--secondary-color);
  }

  .main--footer .nav__container--nav-list ul {
    font-size: 65%;
    padding: 1rem 0 0 2rem;
    margin: 0;
  }
}
